<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<body>
    
    
<div class="confirmacion-delete">
    <h1>Está seguro de que quiere eliminar al usuario <%= userToDelete.first_name %>?</h1>
    <img src="/images/users-images/<%= userToDelete.profile_image ? userToDelete.profile_image : "default-profile-image.jpg" %> " alt="">
    <form action="/users/delete-user/<%= userToDelete.id %>?_method=DELETE " method="POST">
        <br>
        <div class="button-borrar">
            <button class="boton-borrar" type="submit"> Borrar</button>
            
        </div>    

    </form>
    <a href="/users">
        <button class="volver"> Volver</button>
    </a>
</div>






    <%- include('partials/footer.ejs') %>

</body>
