<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<body>
    



    <div class="confirmacion-delete">
        <h1>Está seguro de que quiere eliminar el producto <%= productToEdit.product_name %>?</h1>
        <img src="/images/images-productos/<%= productToEdit.product_image %> " alt="">
        <form action="/productos/delete-producto/<%= productToEdit.id %>?_method=DELETE " method="POST">
            <br>
            <div class="button-borrar-volver">
                <button class="boton-borrar" type="submit"> Borrar</button>
                
            </div>    
    
        </form>
        <a href="/productos">
            <button class="volver"> volver</button>
        </a>
    </div>








    <%- include('partials/footer.ejs') %>

</body>
