<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8da540b464.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../css/normalize.css">
        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Edición de producto</title>
    </head>
<body>
    <%- include('partials/header.ejs') %>

    <main>
		<h1>Editing <%= productToEdit.product_name %></h1>
        <div class="div-form">
            <form method="POST" action="/productos/edicion-producto/<%= productToEdit.id %>?_method=PUT" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name"  class="form-input" value="<%= productToEdit.product_name %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label> 
						<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input" value="<%= productToEdit.price %>">
					</div>
					
					<div class="col-12 col-md-6">
						<label for="product-image" class="form-label">Imagen:</label>
						<input type="file" id="product-image" name="image" placeholder="Imagen" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<% if ( productToEdit.category === "mic") { %> 
							<option value="mic" selected>Microfonos</option>
							<option value="guitar">Guitarras</option>
                            <option value="percussion">Percusión</option>
                            <option value="wind">Instrumentos de viento</option>

							<% } else if( productToEdit.category === "guitar"  ) { %> 
							<option value="mic" >Microfonos</option>
							<option value="guitar" selected>Guitarras</option>
                            <option value="percussion">Percusión</option>
                            <option value="wind">Instrumentos de viento</option>

							<% } else if( productToEdit.category === "percussion"  ) { %> 
								<option value="mic" >Microfonos</option>
								<option value="guitar" >Guitarras</option>
								<option value="percussion" selected>Percusión</option>
								<option value="wind">Instrumentos de viento</option>

							<% } else { %> 
								<option value="mic" >Microfonos</option>
								<option value="guitar" >Guitarras</option>
								<option value="percussion" >Percusión</option>
								<option value="wind" selected>Instrumentos de viento</option>	

							<% } %> 

								

						</select>
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input"><%= productToEdit.product_description %></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Crear producto</button>
						<button> <a href="/productos/delete-producto/<%= productToEdit.id %>">borrar</a></button>
					</div>
				</div>
			</form>
        </div>











    </main>



















    <%- include('partials/footer.ejs') %>


</body>
</html>