<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>

    

    <main class="register">
        <div class="register-box">
            <div class="div-form-register">
                <form action="/users/edit-user/<%= userToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                
                    <label>Nombre</label>
                    <input type="text" name="first_name" value="<%= userToEdit.first_name %> ">
                    
                
                
                    <label class="apellido-register">Apellido</label> 
                    <input type="text" name="last_name" value="<%= userToEdit.last_name %> ">
                    
                    
                    <label class="email-register">Direcci칩n</label> 
                    <input type="text" name="address" value="<%= userToEdit.address %> ">
                    
                    

                    <label class="email-register">Correo electr칩nico</label> 
                    <input type="email" name="email" value="<%= userToEdit.email %> ">

                    
                    
                
                
                    <label class="contrase침a-register">Contrase침a</label> <input type="password" name="password">

                    <br>
                    
                    <label for="">Imagen de perfil:</label>
                    <input type="file" name="image">

                    <br>
                    <button type="submit">Actualizar</button>   <button><a href="/users/delete-user/<%= userToEdit.id %> ">Borrar</a></button>
                    
                    
                
                
                    
                    
                
                    

            
                </form>
            </div>
            <img src="/images/images-de-wireframe/Angus-young-sign-up.jpg" alt="">
        </div>


    </main>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>