
    <%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
<body>
    

    
    <main class="main-login">
        
        <img src="/images/images-de-wireframe/banda-blanco-y-negro.jpg" alt="">
        <img src="/images/images-de-wireframe/banda-blanco-y-negro.jpg" alt="">
        
        
        <form class="login" action="/users/login" method="POST">

            <label class="usuario">Usuario o correo electrónico</label>
            <input type="email" class="inputs email" placeholder="ejemplo@email" name="email" value="<%= locals.oldData ? oldData.email : null  %>">
            
            <% if (locals.errors && errors.email) { %>
                
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
            <% } %>
        
            <label class="contraseña">Contraseña</label>
            <input type="password" class="inputs password" name="password">
            
            <% if (locals.errors && errors.password) { %>
                
                <div class="text-danger">
                    <%= errors.password.msg %> 
                </div>
            <% } %>
        
            <label class="forgot-pass"><a href="/" style="color: #00A6FF;">¿Olvidaste tu contraseña?</a></label>
            <button type="submit" class="form-bottom">Ingresar</button>
            <label for="" style="position: relative; left: 15%; top: 5%;">
                <input type="checkbox" name="remember_user">  Recordar usuario
            </label>

            <br>
            <br>
            
            
            <p class="texto">No tienes cuenta?</p>
            
            <p class="texto">Registrate <a href="/users/register" style="color: #00A6FF;">aquí</a></p>
            
            <div class="errores">
                <ul></ul>
            </div>
            
        </form>
        
    </div>

    </main>

    <%- include('partials/footer.ejs') %>
    
    <script src="/js/validation-login.js"></script>
</body>
