<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>

    
    <main class="main-login">
        
        <img src="/images/images-de-wireframe/banda-blanco-y-negro.jpg" alt="">
        <img src="/images/images-de-wireframe/banda-blanco-y-negro.jpg" alt="">
        
        
        <form action="/users/login" method="POST">

            <label class="usuario">Usuario o correo electrónico</label>
            <input type="email" class="inputs" placeholder="ejemplo@email" name="email">
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
            <% } %>
        
            <label class="contraseña">Contraseña</label>
            <input type="password" class="inputs" name="password">
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %> 
                </div>
            <% } %>
        
            <label class="forgot-pass"><a href="#" style="color: #00A6FF;">¿Olvidaste tu contraseña?</a></label>
            <button type="submit" class="form-bottom">Ingresar</button>


            <p class="texto">No tienes cuenta?</p>
            <p class="texto">Registrate <a href="#" style="color: #00A6FF;">aquí</a></p>
            
            
        </form>
        
    </div>

    </main>

    <%- include('partials/footer.ejs') %>

</body>
</html>