<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8da540b464.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Products</title>
    </head>
<body>
    <%- include('partials/header.ejs') %>
    
    <button style="margin-top: 10px;"><a href="/productos/crear-producto">Crear producto</a></button>
    <% for (i = 0; i < producto.length; i++) { %>
    
    <h1 style="background-color: blue; width: 300px;"><%= producto[i].name %></h1>
    <h1><%= producto[i].price %></h1>
    <h1><%= producto[i].description %></h1>
    <h1><%= producto[i].category %></h1>
    <img src="/images/images-productos/<%= producto[i].image ? producto[i].image : "imagen_articulo_por_defecto.jpg" %>" alt=""> <!-- la ruta tiene que estar asi, si la pones absoluta no funciona -->
    <br>
    
    <button><a href="/productos/edicion-producto/<%= producto[i].id %>">editar producto</a></button>
    <% } %>

    






    <%- include('partials/footer.ejs') %>
</body>
</html>