<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>

    <main class="top-main">
        <img class="left-image" src="<%= productDetail.product_image ? productDetail.product_image : "/images/images-productos/imagen_articulo_por_defecto.jpg" %> " alt="">

        <div class="description-right">
            <h1><%= productDetail.product_name %> </h1>
            <h2>Categorías: <a style="color: gold; text-decoration: none" href="/productos/category"><%= productDetail.category %> </a></h2>
            <h3>Detalle del producto:</h3>
            <p><%= productDetail.product_description %> </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint inventore asperiores, omnis, officia fugit voluptatem nulla tempora vero accusantium sunt commodi amet molestiae nihil sit voluptatibus nemo est maiores nisi.</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia magni optio voluptate! Autem ullam nemo fuga placeat odit tempora velit aliquam, nulla ipsam eveniet repellat facere tenetur saepe quis. Veritatis!

        </div>



    </main>
    









    <%- include('partials/footer.ejs') %>
</body>