<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>


    <% for (i = 0; i < usuarios.length; i++) { %>
        <div style="border-color: chartreuse; border-style: solid; margin-left: 35%; width: 350px; ">
            <h1 style="margin: auto;"> id: <%= usuarios[i].id %> </h1>
            <h1 style="margin: auto;"> <%= usuarios[i].first_name %> </h1>
            <h2 style="margin: auto;"> <%= usuarios[i].email %> </h2>
            <h3 style="margin: auto;"> <%= usuarios[i].category %> </h3>
            <img class="profile-img-list" src="/images/users-images/<%= usuarios[i].profile_image ? usuarios[i].profile_image : "default-profile-image.jpg" %>" alt="">
            <br>
            <br>
            <button style="display: inline;"><a href="/users/edit-user/<%= usuarios[i].id %>">editar</a>
            
        </div>
        <br>
        <% } %> 











    <%- include('partials/footer.ejs') %>
</body>
