<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8da540b464.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Users</title>
    </head>
<body>
    <%- include('partials/header.ejs') %>

    <% for (i = 0; i < usuarios.length; i++) { %>
        <div style="border-color: chartreuse; border-style: solid; margin-left: 35%; width: 350px; ">
            <h1 style="margin: auto;"> id: <%= usuarios[i].id %> </h1>
            <h1 style="margin: auto;"> <%= usuarios[i].first_name %> </h1>
            <h2 style="margin: auto;"> <%= usuarios[i].email %> </h2>
            <h3 style="margin: auto;"> <%= usuarios[i].category %> </h3>
            <img class="profile-img-list" src="/images/users-images/<%= usuarios[i].image ? usuarios[i].image : "default-profile-image.jpg" %>" alt="">
            <br>
            <br>
            <button style="display: inline;"><a href="/users/edit-user/<%= usuarios[i].id %>">editar</a></button> <button style="display: inline;"><a href="/users/detail/<%= usuarios[i].id %> ">Detalle</a></button>
            
        </div>
        <br>
        <% } %> 











    <%- include('partials/footer.ejs') %>
</body>
</html>