<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>
    
    <div class="user-detail">

        <h1>Bienvenido/a <span style="color: gold"> <%= user.email == "martinalejandropm@gmail.com" ?  "admin" + " " + user.first_name : user.first_name %> </span> </h1>
        <h1>Te estabamos esperando</h1>
        
        <h2>Detalles del perfil</h2>
        
        <h3>Correo electrónico: <%= user.email %> </h3>

        <h1>Imagen de perfil</h1>
        <img src="/images/users-images/<%= user.profile_image ? user.profile_image : "default-profile-image.jpg" %> " alt="">
        
        
    </div>
    <% if (user.email && user.email == "martinalejandropm@gmail.com") { %> 
    <div class="buttons-admin">
        <a href="/users"> <button>usuarios</button></a>
        <a href="/productos"><button>productos</button></a>

    </div>

    <% } else { %> 
        <% } %> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <%- include('partials/footer.ejs') %>
</body>