<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>
    


    <h1>Bienvenido/a <%= user.first_name %> </h1>
    <h1>Te estabamos esperando</h1>
    
    <h2>Detalles del perfil</h2>
    
    <h3>Correo electrónico: <%= user.email %> </h3>

    <h1>Imagen de perfil</h1>
    <img src="/images/users-images/<%= user.profile_image ? user.profile_image : "default-profile-image.jpg" %> " alt="">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <%- include('partials/footer.ejs') %>
</body>